@font-face{
  font-family: 'Montserrat', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
}

*{
  font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

h1{
  text-align: center;
}