.main{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    text-align: center;
}

.Title_breve_resumo{
    margin: 3rem;
}

.SpanEffect_Title_Breve_Resumo{
    position: absolute;
    width: 20rem;
    margin-top: -2.7rem;
    margin-left: 49rem;
    background-color: #000;
    display: block;
    padding: 0.08rem
}

.Container_intro{
    background: #F1EB90;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 1rem;
    height: 15rem;
    /* border: 1px #000; */
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
}

.Container_intro_text{
    margin: 4rem;
    display: block;
    text-align: start;
}

.Container_Amotra_Produtos{
    background: #F1EB90;
    padding: 1.5rem;
    /* margin: 1.5rem; */
    /* border-radius: 1rem; */
}

.AmostraDeProdutos{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.inner{
    display: flex;
}

.AmostraDeProdutos__titlo{
    margin: 2rem;
    padding: 1rem;
    text-align: center;
}

.item{
    min-height: 200px;
    min-width: 400px;
    padding: 14px;
    align-items: center;
    justify-content: center;
}

.item img{
    width: 100%;
    height: 90%;
    border-radius: 12px;
    pointer-events: none;
}

.carousel{
    cursor: grab;
    overflow: hidden;
}

.Container_Amostra_Produtos__Text_Intro{
    background: #F1f1f1;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 1rem;
}

.Effect_Span_Amotra_Produtos{
    position: absolute;
    width: 14rem;
    margin-top: -40px;
    margin-left: 21rem;
    background-color: #000;
    display: block;
    padding: 1px;
}

.Button_Comprar {
    text-decoration: none;
    display: inline-block;
    background-color: #000;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 20px;
    text-align: center;
    touch-action: manipulation;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
    margin: 0.5rem;
}

.Button_Comprar:hover {
  background-color: #f1f1f1;
  color: #000;
  transform: translateY(-2px);
}

.Contato_Container{
    background: #F6F6F6;
}


@media (max-width: 1360px){
    .SpanEffect_Title_Breve_Resumo{
        position: absolute;
        width: 20rem;
        margin-top: -2.7rem;
        margin-left: 32rem;
        background-color: #000;
        display: block;
        padding: 0.08rem
    }

    .Container_intro_text{
        margin: 2rem;
        display: block;
        text-align: start;
    }
}

